<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #ff0000;
        }

        p {
            color: #333333;
        }
    </style>
</head>
<body>
    <h1>Oops! Something went wrong.</h1>
    <p>We're sorry, but an error occurred while processing your request.<br>this issue maybe come when you trying down website</p>
    <p>Please try again later or contact support.</p>
</body>
</html>
